# Ignorar compilados de Java
bin/
*.class

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.tmp
*.bak

# Archivos de entorno y configuración
.vscode/
.idea/
*.iml

# Archivos generados por ejecución
*.out
