# Ignorar archivos compilados de Java
*.class

# Ignorar directorios de compilación
/bin/
/out/
/target/

# Archivos de configuración de IDEs
.vscode/
.idea/
*.iml

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp

# Copias de seguridad
*~
